### Linux ###
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

### Vim ###
*.swp
*.swo

### OS X ###
.DS_Store

# Temporary files
build/
dump/
*.pyc
